extends base

block scripts
	script(type='text/javascript').
		$(function () {
			$('#form-upload-data').submit(function (event) {
				event.preventDefault();
				$('#submit-upload-data').attr('disabled', true);

				//noinspection NodeModulesDependencies
				$.ajax({
					url: '/data/upload',
					method: 'POST',
					data: new FormData(this),
					processData: false,
					contentType: false,

					success: function (data) {
						console.log(data);
						$('#submit-upload-data').attr('disabled', false);
					},

					error: function (data) {
						console.error(data);
						// TODO: Some error handling
						$('#submit-upload-data').attr('disabled', false);
					}
				});
			});
		});

block content
	if data
		p Data

	form(method='post', action='/data/upload', enctype='multipart/form-data')#form-upload-data
		h2 Upload Data
		input(type='file', name='data')
		br
		button(type='submit')#submit-upload-data Upload
